/vendor/**/.git
composer.phar
composer.lock
.DS_Store
_notes/
dwsync.xml
.Trashes
ehthumbs.db
Thumbs.db
/assets/vendor/fontawesome/
/assets/vendor/handsontable/demo/
/assets/vendor/handsontable/tasks/
/assets/vendor/handsontable/lib/
/assets/vendor/handsontable/src/
/assets/vendor/handsontable/test/
/assets/vendor/handsontable/extensions/
/assets/vendor/jquery/src/
/assets/vendor/bootstrap/grunt/
/assets/vendor/bootstrap/js/
/assets/vendor/bootstrap/less/
/assets/vendor/*/*.json
/assets/vendor/*/*.sh
/vendor/**/test/**/*
/vendor/**/tests/**/*
/vendor/**/doc/**/*
/vendor/doctrine/common/lib/vendor/
/vendor/doctrine/dbal/lib/vendor/
/vendor/doctrine/dbal/bin/
/vendor/predis/
UPGRADE
VERSION
CNAME
CHANGES
CHANGELOG
CONTRIBUTING
AUTHORS.txt